body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eeb6b4;
}

a {
  color: #00B7FF;
}




/* #table{
   box-shadow: inset 0px 0px 50px #fff,
               inset 10px 0px 80px #f0f,
               inset -10px 0px 50px #0ff,
               inset 0px 0px 150px #f0f,
               inset -10px 0px 150px #0ff,
               0px 0px 50px #fff,
               -10px 0px 50px #f0f,
               10px 0px 50px #0ff;

  } */